<div class="container">
  <form #form="ngForm" (submit)="singnin()" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" email="true" required 
      [(ngModel)]="signinFrom.email" #email="ngModel">
    <!-- <div [hidden]="email.valid || email.pristine"
     class="alert alert-danger">
      email is required
    </div> -->

    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required">
        email is required.
      </div>
      <div *ngIf="email.errors.email">
        Invalid email.
      </div>
    </div>


    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required
      [(ngModel)]="signinFrom.password" #password="ngModel">
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
      password is required
    </div>
    <button [disabled]="!form.valid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  <p class="info"><a routerLink="/signup">Don't have an account? Create one here.</a></p>
</div>